<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Fordiy Online Assessment</title>
<link rel="stylesheet" type="text/css" href="view.css" media="all">
<script type="text/javascript" src="view.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


<link rel="stylesheet" type="text/css" href="css/jquery.countdown.css"> 
<script type="text/javascript" src="js/jquery.plugin.js"></script> 
<script type="text/javascript" src="js/jquery.countdown.js"></script>

</head>
<body id="main_body" >
	
	<img id="top" src="top.png" alt="">
	<div id="form_container">
	
		<h1><a>OfferComes Online Assessment</a></h1>
		<form id="form_32043" class="appnitro"  method="post" action="/consultencysubmitted/">
					<div class="form_description">
			<h2>Fordiy Online Assessment</h2>
			<p>营销咨询部试题（中文作答）</p>
		<div id="noDays"></div>
		<script>$('#noDays').countdown({until: '+60m', format: 'HMS'});</script>
		</div>						
			<ul >
	{% csrf_token %}	
					<li id="li_4" >
		<label class="description" for="element_4">验证码 </label>
		<div>
			<input id="element_4" name="element_4" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_5" >
		<label class="description" for="element_5">姓名 </label>
		<div>
			<input id="element_5" name="element_5" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_1" >
		<label class="description" for="element_1">1. 你认为准留学生群体选择留学咨询机构的标准有哪些？
 </label>
		<div>
			<textarea id="element_1" name="element_1" class="element textarea large"></textarea> 
		</div> 
		</li>		<li id="li_2" >
		<label class="description" for="element_2">2. 查看公司网站www.fordiy.com，在看过公司介绍和信息之后，请您用自己的语言概括公司的服务特点和优势。 </label>
		<div>
			<textarea id="element_2" name="element_2" class="element textarea large"></textarea> 
		</div> 
		</li>		<li id="li_3" >
		<label class="description" for="element_3">3. 如果你邀约的客户在约定时间没有赴约上门，你会采取什么措施促使客户下次必须 跟你见面？ </label>
		<div>
			<textarea id="element_3" name="element_3" class="element textarea large"></textarea> 
		</div> 
		</li>		<li id="li_6" >
		<label class="description" for="element_6">4. 你在成长中遇到过的最大的挑战是什么，你是如何克服的，从中你学到了什么？ </label>
		<div>
			<textarea id="element_6" name="element_6" class="element textarea large"></textarea> 
		</div> 
		</li>		<li id="li_7" >
		<label class="description" for="element_7">5. 公司将在某大学举办一次宣讲活动，在此次活动中将包括宣讲师，PPT制作者，物料运送和采购专员，现场秩序协调员，和主持人。你希望在此活动中担任什么角色？为什么？ </label>
		<div>
			<textarea id="element_7" name="element_7" class="element textarea medium"></textarea> 
		</div> 
		</li>
			<script type="text/javascript"> alert("You have 60 mins before we automatically submit your answers, good luck."); </script>

					<li class="buttons">
			    <input type="hidden" name="form_id" value="32043" />
			    
				<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
		</li>
			</ul>
		</form>	
		<div id="footer">
			Generated by <a href="http://www.phpform.org">pForm</a>
		</div>
	</div>
	<img id="bottom" src="bottom.png" alt="">
	</body>
</html>
