<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Fordiy Online Assessment</title>
<link rel="stylesheet" type="text/css" href="view.css" media="all">
<script type="text/javascript" src="view.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


<link rel="stylesheet" type="text/css" href="css/jquery.countdown.css"> 
<script type="text/javascript" src="js/jquery.plugin.js"></script> 
<script type="text/javascript" src="js/jquery.countdown.js"></script>
</head>
<body id="main_body" >
	
	<img id="top" src="top.png" alt="">
	<div id="form_container">
	
		<h1><a>OfferComes Online Assessment</a></h1>
		<form id="form_32043" class="appnitro"  method="post" action="/customersubmitted/">
					<div class="form_description">
			<h2>Fordiy Online Assessment</h2>
			<p>客服文案部试题(试题部分用英文作答)</p>
<div id="noDays"></div>
		<script>$('#noDays').countdown({until: '+90m', format: 'HMS'});</script>
		</div>						
			<ul >
		{% csrf_token %}	
					<li id="li_4" >
		<label class="description" for="element_4">验证码 </label>
		<div>
			<input id="element_4" name="element_4" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_5" >
		<label class="description" for="element_5">姓名 </label>
		<div>
			<input id="element_5" name="element_5" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_1" >
		<label class="description" for="element_1">1. Please tell us what kind of job do you want to do in the future?（100 words） </label>
		<div>
			<textarea id="element_1" name="element_1" class="element textarea large"></textarea> 
		</div> 
		</li>		<li id="li_2" >
		<label class="description" for="element_2">2. Translation（Chinese to English）.
会计历史发展的实事证明，会计是一种管理活动，是一项经济管理工作。会计虽然原来是“生产智能的一个附带工作”，但“生产和生产的簿记终究是两件事”。会计的产生固然和生产活动有密切关系，但它不是生产活动本身，而是人们对再生产过程进行管理的一种活动。随着经济的发展，会计从最初的计量，计算工作，逐步发展成为收集，控制，调节和指导，促使人们讲求经济效益的一种管理活动。为满足会计信息使用者的需求，必须研究会计信息的生成。
 </label>
		<div>
			<textarea id="element_2" name="element_2" class="element textarea large"></textarea> 
		</div> 
		</li>		<li id="li_3" >
		<label class="description" for="element_3">3. Please write an essay about 350 words based on the following topic.
Tell us about your name. What does it mean? Does it have a special meaning? Do you think your name fits you? Finally, would you ever change your name; and if so, what name would you choose? </label>
		<div>
			<textarea id="element_3" name="element_3" class="element textarea large"></textarea> 
		</div> 
		</li>
			<script type="text/javascript"> alert("You have 90 mins before we automatically submit your answers, good luck."); </script>

					<li class="buttons">
			    <input type="hidden" name="form_id" value="32043" />
			    
				<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
		</li>
			</ul>
		</form>	
		<div id="footer">
			Generated by <a href="http://www.phpform.org">pForm</a>
		</div>
	</div>
	<img id="bottom" src="bottom.png" alt="">
	</body>
</html>
